<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9">
  <link rel = "stylesheet" href = "dac_default.css">
  <title> Advisor Login - NovaDAC v0.1 </title>
</head>
<body>
  <div id = "header">
    <h2>NovaDac Advisor Access</h2>
  </div>  
  <div id = "main">
    <h3> Welcome to NovaDAC</h3>
    <br>
    <p1>Please login</p1><br>
    <br>
    <form action = "/" method = "POST">
      <input type = "text" name = "username" placeholder = "username" autofocus autocomplete = "off"><br>
      <br>
      <input type = "text" name = "password" placeholder = "password" autofocus autocomplete = "off"><br>
      <p3><a href = "forgot_password.html">forgot password?</a></p3><br>
      <br>
      <input type="submit" login="submit-button" value="login"><br>
    </form>
  </div> 
  <div id = "footer">
    <h5>NovaDAC 2021 | All Rights Reserved | <a href = "technical_help.gohtml">Technical Help</a></h5>
  </div> 
</body>
</html>
