{{define "base"}}
<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9">
  <link rel = "stylesheet" href = "dac_default.css">
  <title> Advisor Home - NovaDAC v0.1 </title>

  {{block "css" .}}

  {{end}}

</head>
<body>

{{block "content" .}}

{{end}}

{{block "js" .}}

{{end}}

</body>
</html>
{{end}}